.line {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}

.area {
  fill: steelblue;
  opacity: .4;
}

.axis {
  path, line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
  }
}

.focus {
  line {
    stroke: blue;
    stroke-dasharray: 3,3;
    opacity: .5
  }

  circle {
    fill: none;
    stroke: blue;
  }

  text.outline {
    stroke: white;
    stroke-width: 3.5px;
    opacity: .8
  }
}
